<div class="container-fluid" style="max-width: 1000px;">
  <div class="d-flex justify-content-start flex-wrap">

    <div *ngFor="let friend of friends" class="ml-auto mr-auto bg-light p-3 rounded-lg shadow mb-5" style="max-width: 300px">
        <a>
            <div class="h5 text-center">{{friend.name}}</div>
            <img class="w-100" src="{{friend.picUrl}}" alt="">
            <div>Birthday: {{friend.bday}}</div>
            <div>Location: {{friend.location}}</div>
          </a>
    </div>  

  </div>
</div>