<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow">
    <a class="navbar-brand">antiSOCIAL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li routerLinkActive="active" class="nav-item">
          <a style="cursor: pointer;" routerLink="/feed" class="nav-link">Feed</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a style="cursor: pointer;" routerLink="/friends" class="nav-link">Friends</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a style="cursor: pointer;" routerLink="/contacts" class="nav-link disabled">Profile</a>
        </li>
      </ul>
    </div>
  </nav>